<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dalin.my.walletbuddy" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".ParseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="WalletBuddy" >
        </activity>
        <activity
            android:name=".logInActivity"
            android:label="WalletBuddy" >
        </activity>
        <activity
            android:name=".ResetActivity"
            android:label="WalletBuddy" >
        </activity>
        <activity
            android:name=".HomePage"
            android:label="WalletBuddy" >
        </activity>
        <activity
            android:name=".HomeActivity"
            android:label="Budget Overview" >
        </activity>
        <activity
            android:name=".TransactionListActivity"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:label="Transaction List" >
        </activity>
        <activity
            android:name=".BudgetCategoryActivity"
            android:label="Categories" >
        </activity>
        <activity
            android:name=".SetupActivity"
            android:label="WalletBuddy" >
        </activity>
        <activity
            android:name=".TransactionAddition"
            android:label="Add Transaction" >
        </activity>
        <activity
            android:name=".UpdateTransactionActivity"
            android:label="Update Transaction" >
        </activity>
    </application>

</manifest>
